*{
    margin: 0;
}

body{
    font-family: arial;
}
.main{
    background-color: steelblue;
    color: white;
    margin-bottom: 30px;
}
.footer{
    margin-top: 50px;
    background-color: slateblue;
    color: white;
}