h1{
    color:black;
    background-color: seagreen;
    padding: 10px;

    /*define el ancho del elemento*/
    width: 700px;
    /* max-width: 100px; */

    /* min-width: 100px; */

    /* height: auto; */
    /* min-height: 200px; */
        
    /* max-height: 500px; */
    /* overflow: hidden;
 */

}
