h1{
    color:black;
    background-color: seagreen;
    padding: 10px;

    
    /*define el ancho del elemento*/
    width: 300px;
/*     max-width: 900px;  */

   /*   min-width: 100px;  */

    /* height: auto; */
    /* min-height: 100px; */
        
/*     max-height: 700px;
    overflow: hidde */
 
.border{
    border: 10px ridge steelblue;
}

/*
DOTTED: LA LINEA DEL BORDE SERA POR MEDIO DE PUNTOS
DASHED: LA LINEA DEL BORDE SERA POR MEDIO DE GUIONES
SOLID: LA LINEA SERA SOLIDA SIN NINGUNA ALTERACION
DOUBLE: HABRA DOS LINEAS SOLIDAS COMO BORDE
GROVE: DEFINE UN BORDE RANURADO EN 3D
RIDGE: DEFINE UN BORDE ESTRIADO EN 3D



*/

}
