*{
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: arial;

}
.main{
 width: 50vw;
 height: 50vh;

 background-color: tomato;
}
.main__title{
 font-size: 30 0px;
 }
 h1{
    width: 50%;
    background-color: black;
 }

.img{
    width: 300px;
 /* unidades abslutas
 cm. mm. px. pt(puntos)
 */  

 /* unidades relativas
     vw, Vh
 */
}